.container{
}
.element{
  margin-left: 48px;
}
.order{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.order > svg {
width: 33px;
height: 33px;
}

.result{
  margin-right: 10px;
}
.btn{
  margin-left: 42px;
}
