.container{
}
.list{
  padding-left: 0;
  list-style: none;
}
.item{}

.element{
  margin-left: 48px;
}
.element_default{
  display: flex;
  justify-content: center;
  margin-left: 48px;
}
.element_default img{
  display: none;
}
.element_default svg{
  display: none;
}
.order{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.order > svg {
  width: 33px;
  height: 33px;
}

.result{
  margin-right: 10px;
}

.btn{
  margin-left: 42px;
}
