.scroll_bar {
  width: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.scroll_bar_ingredients {
  height: 715px;
}

.scroll_bar_details {
  max-height: 477px;
}

.scroll_bar_orders {
  position: absolute;
  top: 40px;
  left: 38%;
  width: max-content;
  max-height: 97vh;
}
