.scroll_bar{
  width: 600px;
  /* overflow: overlay; */
  /* overflow: hidden; */
  overflow-y: scroll;
  overflow-x: hidden;
}

.scroll_bar_ingredients{
  height: 715px;
}

.scroll_bar_details{
  height: 477px;
}



