.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 272px;
  position: relative;
  cursor: pointer;
}

.counter_hidden{
  display: none;
}
.image{
  width: 240px;
  height: 120px;
}

.price{
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 6px;
}

.subtitle{
  width: 100%;
  height: 48px;
  text-align: center;
}

