.main {
  padding: 26px 380px 0;
}

.group_info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 65px
}

.container_all {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.board {
  margin-bottom: 52px;
}

.board_list_number {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 36px;
}

.board_type_done {
  margin-bottom: 60px;
}

.list_number_order {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 321px;
}

.list_number_order_type_color {
  color: #00CCCC;
}
