.nav_item {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0 8px;
  color: inherit;
  padding: 20px 20px;
}

.nav_item:nth-of-type(1) {
  margin-right: 8px;
}

.link {
  text-decoration: none;
  color: #F2F2F3;
  min-width: max-content
}

.link svg {
  fill: rgb(242, 242, 243);
}

.link_inactive {
  color: #8585AD
}

.link_inactive svg {
  fill: rgb(133, 133, 173);
}
